<p>Hey <%= @resource.first_name %>!</p>

<p><%= @other_user.full_name %> just used your link to connect with you on Radius Contractors!</p>

<a href="<%= connections_url %>">View Your Connections</a>

<p>Thanks for using Radius Contractors!</p>
