<% content_for :title, "Your Connections" %>
<header class="container">
  <h1 class="page-title brand">Connections</h1>
  <div class="btn btn-primary">
    Copy your connection link
  </div>
</header>

<main class="container" id="connections">
  <% @connections.each do |connection| %>
    <%= render connection %>
  <% end %>
</main>
