<% content_for :title, "Your Connections" %>
<header class="container connections-header">
  <h1 class="page-title brand">Connections</h1>
  <%= render partial: "shared/copy_connection_link_button" %>
</header>

<main class="container" id="connections">
  <% @connections.each do |connection| %>
    <%= render connection %>
  <% end %>
</main>
