<div class="row">
  <div class="col-12 col-sm-7">
    <h5><i class="fa-solid fa-right-long text-secondary"></i> Add a builder, a job and a rating.</h5>
  </div>
  <div class="col-12 col-sm-4 button-container">
    <%= link_to "Add a builder", new_contractor_path, class: "btn btn-sm btn-builder" %>
  </div>
</div>
