<% content_for :title, "Editing job" %>

<h1>Edit Job</h1>

<%= render "form", job: @job %>

<br>

<div>
  <%= link_to "Show this job", @job %> |
  <%= link_to "Back to contractor", contractors_path(@contractor) %>
</div>
