<% content_for :title, "Editing job" %>
<main class="container">
  <div class="card form-card">
    <h1>Edit Job</h1>

    <%= render "form", job: @job %>
  </div>

  <hr>

  <div>
    <%= link_to "Back to contractor", contractor_path(@contractor) %>
  </div>
</main>
