<% content_for :title, "New job" %>

<div class="card form-card">
  <h1>What did <%= @contractor.name %> do for you?</h1>

  <%= render "form", job: @job %>
</div>

<hr>

<div>
  <%= link_to "Back to contractor", contractors_path(@contractor) %>
</div>
