<button class="btn btn-primary"
        data-controller="clipboard"
        data-clipboard-target="source"
        data-action="clipboard#copy"
        value="<%= current_user.connection_link(request.host, request.port) %>">
  Copy your connection link <i class="fa-solid fa-copy"></i>
</button>
