<div id="confirm" class="modal">
  <div class="modal__backdrop confirm-cancel">
    <div class="modal__dialog">
      <div class="modal__content">
        <h3 id="confirm-title">Replaced by `data-turbo-confirm` attribute</h3>
        <!--    <div id="confirm-body">-->
        <!--      <p>Default confirm message.</p>-->
        <!--      <p>Optionally replaced by `data-confirm-details` attribute</p>-->
        <!--    </div>-->
        <div class="modal-actions">
          <button class="confirm-cancel btn btn-secondary">Cancel</button>
          <button id="confirm-accept" class="btn btn-warning">Yes, I'm Sure</button>
        </div>
      </div>
    </div>
  </div>
</div>
