<% content_for :title, "New rating" %>

<div class="card form-card">
  <h1>What did you think of <%= @contractor.name %>?</h1>

  <%= render "form", rating: @rating %>
</div>

<hr>

<div>
  <%= link_to "Back to ratings", contractor_path(@contractor) %>
</div>
