<aside class="main-page" id="about">
  <hr>
  <details>
    <summary>What's this all about?</summary>
    <h3>What's this all about?</h3>
    <p>Radius Contractors is a <strong>community-driven platform</strong> for finding reliable builders—no ads, no tracking, and
      <a href="https://github.com/phil-6/radius-contractors">open source</a>.</p>
    <p>Think of it like <strong>asking a friend for a recommendation</strong>, but on a larger scale.</p>
    <p>🚀 It's free and costs about £15/month to run. If you'd like to support it,
      <a href="http://buymeacoffee.com/purpleriver">buy me a coffee.</a></p>
    <%#= render partial: 'pages/bmc_button' %>
    <div class="for-builders">
      <h4>For Builders</h4>
      <p class="mb-0">Do great work. Get recommended. It’s that simple.</p>
      <p>Got questions? <a href="mailto:contractors@purpleriver.dev">Reach out here</a></p>
    </div>
    <hr>
    <p class="lead">The project is still a work in progress, so if you have any feedback, find any bugs, or want to be kept up to date with
      updates then please <a href="mailto:contractors@purpleriver.dev">let me know.</a></p>
    <ul>What's in the plan:
      <li>Connect with another user using their link ✅</li>
      <li>View your connections ✅</li>
      <li>Remove connections ✅</li>
      <li>Email user when someone connects with them ✅</li>
      <li>Allow trades to be added when creating a contractor ✅</li>
      <li>User Profile Page
        <ul>
          <li>Show Your Connections</li>
          <li>Show Your Contractors</li>
        </ul>
      </li>
      <li>Improve UI in various places
        <ul>
          <li>Increase size of secondary buttons on account forms ✅</li>
          <li>Navigation: Burger Menu for quick access links from anywhere</li>
          <li>Improve getting started process ✅</li>
          <li>Improve rating readability with colours ✅</li>
        </ul>
      </li>
      <li>Allow contractors to be filtered by trades. ✅</li>
      <li>Allow contractors to be searched. ✅</li>
      <li>Show contractors and reviews from 2nd degree connections (Friends of friends). ✅</li>
      <li>Allow connections to your partners - which see the same things you do.</li>
      <li>Allow photos to be added to jobs.</li>
    </ul>
  </details>
</aside>
