<% content_for :title, "New contractor" %>
<main class="container">
  <div class="card form-card">
    <h1>New contractor</h1>

    <%= render "form", contractor: @contractor %>
  </div>

  <hr>

  <div>
    <%= link_to "Back to contractors", contractors_path %>
  </div>
</main>
