header.connections-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button.btn {
    margin: 0 auto;
  }
}

#connections {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .connection.card {
    background: $light-primary-bg-grad;
    color: $ink-dark;

    .stats {
      display: flex;
      gap: 0.2rem;
      justify-content: center;

      p.stat {
        margin: 0;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      .card-body {
        padding: 0.5rem;
      }
    }
  }
}
