#contractors-header {
  margin-bottom: 2rem;

  .btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;

    .trade-filter {
      padding: 0.1rem 0.2rem;
      font-size: 0.8rem;
      min-width: 85px;
    }
  }

  .search {
    margin-top: 1rem;

    form {
      gap: 0.2rem;

      .label {
      }

      .field {
        width: 100%;
      }

      .actions {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 0.2rem;

        .btn {
          height: fit-content;

          &.btn-success {
            order: 1;
          }
        }
      }
    }

    @media (min-width: 768px) {
      form {
        display: flex;

        .label {
          flex: 1 1 10%;
        }

        .field {
          flex: 1 1 50%;
        }

        .actions {
          flex: 1 1 20%;
          align-self: center;
        }
      }
    }
  }
}

#contractors, #contractor {
  .card {
    margin-bottom: 1rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .card-header {
      h3 {
        font-weight: 700;
      }
    }

    .card-body {
      background: $dark-bg-grad;

      .contractor-details {
        p {
          margin-bottom: 0.5rem;

          &.contractor-rating {
            &.bad-rating {
              color: $danger;
            }

            &.average-rating {
              color: $warning-light;
            }

            &.good-rating {
              color: $success-light;
            }

            &.excellent-rating {
              color: $secondary;
            }
          }
        }
      }
    }

    .card-footer .btn:not(:last-child) {
      @media (max-width: 768px) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .trades {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 0.5rem;

    .btn {
      background-color: $brand;
      color: $theme-dark;
      cursor: auto;
    }
  }
}

#contractors {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.contractor.card {
  .trades .btn-sm {
    font-size: 0.8rem;
    margin: 0.1rem;
  }

  @media (min-width: 1000px) {
    flex: 1 1 40%;
  }
  @media (max-width: 1000px) {
    flex: 0 1 100%;
  }
}

.card .controls {
  padding: 0.4rem;
  position: absolute;
  right: 0;
  top: 0;

  .icon-link {
    padding: 0.1rem;
    text-decoration: none;
  }

  //form {
  //  display: inline-block;
  //  button {
  //    border: none;
  //    background: none;
  //  }
  //}
}

.rating-card {
  &.own-rating {
    border-width: 3px;
  }

  .card-header {
    &.bad-rating {
      background: $danger-bg-grad;
    }

    &.average-rating {
      background: $warning-bg-grad;
    }

    &.good-rating {
      background: $success-bg-grad;
    }

    &.excellent-rating {
      background: $primary-bg-grad;
      background-image: url("symbol-scatter-haikei.svg");
      color: $ink-dark;
    }

    .overall-rating {
      p.main {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
      }

      p.small {
        font-size: 0.8rem;
      }
    }
  }

  .card-body p.sub-rating {
    margin-bottom: 0.2rem;
  }
}
