header.main-page {
  max-width: 800px;

  .page-subtitle {
    text-align: center;
    color: $primary;
  }
}

.page-title.brand {
  font-weight: 900;
  text-align: center;
  color: $primary;

  a {
    text-decoration: none;
  }
}
