.main-page {
  //margin-top: 1.5rem;
  margin: 1.5rem auto auto;
  max-width: 800px;

  //.container, &.container {
  //  max-width: 800px;
  //}

  .getting-started {
    //background-color: $primary-lightest;
  }
}

header.main-page {
  margin-top: 4rem;

  .page-title.brand {
    font-weight: 800;
    font-size: calc(1rem + 1.5vw);
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .page-subtitle {
    text-align: center;
    color: $brand;
    font-size: calc(1.4rem + 1.5vw);
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  p.challenge {
    font-size: 1.2rem;
    font-weight: 300;

    strong {
      font-weight: 500;
    }
  }

  p.different {
    font-size: 1.35rem;
    font-weight: 500;
    text-align: center;
  }
}

.front-page-buttons {
  justify-content: space-evenly;

  .btn {
    width: max-content;
    flex: 1 0 25%;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

main.main-page .getting-started {
  .getting-started-checklist {
    .col {
      min-width: 400px;
    }

    ol {
      padding-left: 0;

      li {
        font-weight: 600;
        line-height: 2;
        list-style: none;

        &.complete {
          i {
            color: $success;
          }
        }

        &:not(.complete) {
          i {
            color: $secondary;
          }
        }

        //.list-item-number:not(.complete) {
        //  font-weight: 800;
        //  font-size: 1.2rem;
        //}
      }
    }
  }

  .whats-next {
    .row {
      margin: 0.5rem 0;

      p, h5 {
        margin-bottom: 0;
      }

      .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

aside.main-page {
  ul {
    list-style: wrench;
  }

  .bmc-btn-container {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;

    .bmc-btn {
      min-width: 210px;
      color: $ink-dark;
      background-color: $primary;
      height: 60px;
      border-radius: 12px;
      font-size: 1.2rem;
      font-weight: Bold;
      border: none;
      padding: 0 24px;
      line-height: 27px;
      text-decoration: none;
      display: inline-flex !important;
      align-items: center;
      -webkit-box-sizing: border-box !important;
      box-sizing: border-box !important;
      transition: background 0.3s ease;

      &:hover {
        background-color: $secondary;
      }
    }

    .bmc-btn svg {
      height: 32px !important;
      margin-bottom: 0 !important;
      box-shadow: none !important;
      border: none !important;
      vertical-align: middle !important;
      transform: scale(0.9);
      flex-shrink: 0;
    }

    .bmc-btn:hover, .bmc-btn:active, .bmc-btn:focus {
      text-decoration: none !important;
      cursor: pointer;
    }

    .bmc-btn-text {
      display: inline-block;
      line-height: 0;
      width: 100%;
      flex-shrink: 0;
    }
  }
}
