$primary: #75C4EA;
$primary-bridge: #0CB0FF;
$primary-darker: #005C89;
$primary-darkest: #00476A;
$primary-light: #77D3FF;
$primary-lightest: #A8E3FF;

$theme-dark: #071e2c;
$body-bg-dark: $theme-dark;
$body-bg-dark-transparent: #071e2cbb;
//$body-bg-dark: #10072c;
$dark-bg-grad: linear-gradient(to bottom right, #0e3c58 0%, #0d2f3f 100%);
$ink-dark: #05171f;
$ink-light: #dcf0f9;

$warning: #F07D27;
$warning-light: #FFB479;
$warning-lightest: #fff0dc;
$warning-dark: #DE6402;
$danger: #CD0000;
$danger-light: #DF6768;
$danger-lightest: #F4CCCD;
$danger-dark: #A30000;
$success: #128812;
$success-light: #69C06A;
$success-lightest: #E6F7E6;
$success-dark: #006600;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local(''),
  url("Montserrat-VF.woff2") format("woff2"), /* Super Modern Browsers */
  url("Montserrat-VariableFont_wght.ttf") format("truetype");     /* Safari, Android, iOS */
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local(''),
  url("Montserrat-Italic-VF.woff2") format("woff2"), /* Super Modern Browsers */
  url("Montserrat-Italic-VariableFont_wght.ttf") format("truetype");   /* Safari, Android, iOS */
}

$font: 'Montserrat', sans-serif;
html, body {
  font-family: $font !important;
}

@counter-style wrench {
  system: cyclic;
  symbols: "\1F6E0";
  suffix: " ";
}
