@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local(''),
  url("Montserrat-VF.woff2") format("woff2"), /* Super Modern Browsers */
  url("Montserrat-VariableFont_wght.ttf") format("truetype");     /* Safari, Android, iOS */
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local(''),
  url("Montserrat-Italic-VF.woff2") format("woff2"), /* Super Modern Browsers */
  url("Montserrat-Italic-VariableFont_wght.ttf") format("truetype");   /* Safari, Android, iOS */
}

$font: 'Montserrat', sans-serif;

@counter-style wrench {
  system: cyclic;
  symbols: "\1F6E0";
  suffix: " ";
}

:root {
  --font: 'Montserrat', sans-serif;
  --brand: #49b1e3;
  --theme-dark: #071e2c;
  --theme-dark-bg: #060A1E;
  --theme-dark-bg-grad: linear-gradient(to bottom right, var(--theme-dark) 25%, var(--theme-dark-bg) 100%);
  --ink-dark: #05171f;
  --ink-light: #dcf0f9;
  --theme-light-gray: #8f95a3;
  --theme-mid-gray: #737b8c;
  --theme-mid-gray-translucent: #737b8c46;

  --primary: var(--brand);
  --primary-dark: #239CD6;
  --primary-darkest: #0686C4;
  --primary-light: #73C5ED;
  --primary-lightest: #ACDEF7;
  --primary-bg-grad: linear-gradient(to bottom right, var(--primary) 0%, var(--primary-light) 100%);
  --secondary: #FFB800;
  --secondary-light: #FFD25E;
  --secondary-dark: #FF8900;
  --warning: #F07D27;
  --warning-light: #FFB479;
  --warning-lightest: #fff0dc;
  --warning-dark: #DE6402;
  --warning-bg-grad: linear-gradient(to bottom right, var(--warning) 0%, var(--warning-dark) 100%);
  --danger: #CD0000;
  --danger-light: #DF6768;
  --danger-lightest: #F4CCCD;
  --danger-dark: #A30000;
  --danger-bg-grad: linear-gradient(to bottom right, var(--danger) 0%, var(--danger-dark) 100%);
  --success: #128812;
  --success-light: #69C06A;
  --success-lightest: #E6F7E6;
  --success-dark: #006600;
  --success-bg-grad: linear-gradient(to bottom right, var(--success) 0%, var(--success-dark) 100%);

  --body-bg-dark: var(--theme-dark);
  --body-bg-dark-transparent: #071e2cbb;
  /* --body-bg-dark: #10072c; */
  --dark-bg-grad: linear-gradient(to bottom right, #0e3c58 0%, #0d2f3f 100%);
  --light-primary-bg-grad: linear-gradient(to top right, var(--primary-light) 0%, var(--primary) 100%);
  --form-input-border-radius: 0.5rem;
  --card-border-radius: 1rem;
}

$brand: var(--brand);
$theme-dark: var(--theme-dark);
$theme-dark-bg: var(--theme-dark-bg);
$theme-dark-bg-grad: var(--theme-dark-bg-grad);
$ink-dark: var(--ink-dark);
$ink-light: var(--ink-light);

$primary: var(--primary);
$primary-dark: var(--primary-dark);
$primary-darkest: var(--primary-darkest);
$primary-light: var(--primary-light);
$primary-lightest: var(--primary-lightest);
$primary-bg-grad: var(--primary-bg-grad);
$secondary: var(--secondary);
$secondary-light: var(--secondary-light);
$secondary-dark: var(--secondary-dark);
$warning: var(--warning);
$warning-light: var(--warning-light);
$warning-lightest: var(--warning-lightest);
$warning-dark: var(--warning-dark);
$warning-bg-grad: var(--warning-bg-grad);
$danger: var(--danger);
$danger-light: var(--danger-light);
$danger-lightest: var(--danger-lightest);
$danger-dark: var(--danger-dark);
$danger-bg-grad: var(--danger-bg-grad);
$success: var(--success);
$success-light: var(--success-light);
$success-lightest: var(--success-lightest);
$success-dark: var(--success-dark);
$success-bg-grad: var(--success-bg-grad);

$body-bg-dark: var(--body-bg-dark);
$body-bg-dark-transparent: var(--body-bg-dark-transparent);
//$body-bg-dark: var(--body-bg-dark);
$dark-bg-grad: var(--dark-bg-grad);
$light-primary-bg-grad: var(--light-primary-bg-grad);

//$brand: #49b1e3;
//$theme-dark: #071e2c;
//$theme-dark-bg: #060A1E;
//$theme-dark-bg-grad: linear-gradient(to bottom right, $theme-dark 25%, $theme-dark-bg 100%);
//$ink-dark: #05171f;
//$ink-light: #dcf0f9;
//
//$primary: $brand;
//$primary-dark: #239CD6;
//$primary-darkest: #0686C4;
//$primary-light: #73C5ED;
//$primary-lightest: #ACDEF7;
//$primary-bg-grad: linear-gradient(to bottom right, $primary 0%, $primary-light 100%);
//$secondary: #FFB800;
//$secondary-light: #FFD25E;
//$secondary-dark: #FF8900;
//$warning: #F07D27;
//$warning-light: #FFB479;
//$warning-lightest: #fff0dc;
//$warning-dark: #DE6402;
//$warning-bg-grad: linear-gradient(to bottom right, $warning 0%, $warning-dark 100%);
//$danger: #CD0000;
//$danger-light: #DF6768;
//$danger-lightest: #F4CCCD;
//$danger-dark: #A30000;
//$danger-bg-grad: linear-gradient(to bottom right, $danger 0%, $danger-dark 100%);
//$success: #128812;
//$success-light: #69C06A;
//$success-lightest: #E6F7E6;
//$success-dark: #006600;
//$success-bg-grad: linear-gradient(to bottom right, $success 0%, $success-dark 100%);
//
//$body-bg-dark: $theme-dark;
//$body-bg-dark-transparent: #071e2cbb;
////$body-bg-dark: #10072c;
//$dark-bg-grad: linear-gradient(to bottom right, #0e3c58 0%, #0d2f3f 100%);
//$light-primary-bg-grad: linear-gradient(to top right, $primary-light 0%, $primary 100%);
